* {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
}

header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

header h1 {
  font-size: 50px;
  margin: 0px;
}

#explore-my-work {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#explore-my-work .links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#latest-activity {
  max-width: 1200px;
  margin: 0 auto;
}

.post-card {
  width: 100%;
  background-color: #ededed;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.post-card h4 {
  margin-top: 0px;
}

.post-card .published-at {
  font-style: italic;
  color: gray;
}

.post-card .show-more-btn {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

/* SWE & Photography */
#project-list {
  display: grid;
  gap: 20px;
}

.project-card {
  background-color: #ededed;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.project-card img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  #project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#project-page #header img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

#project-page #content ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#project-page #content ul h3 {
  margin: 0px;
}
#project-page #content ul h3,
#project-page #content ul span {
  display: inline-block;
}

#project-page #content ul span {
  color: rgb(64, 64, 64);
}
