* {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
  box-sizing: border-box;
}

.d-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gap-30 {
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
}

header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

header .intro-text {
  margin-top: 30px;
}

header h1 {
  font-size: 50px;
  margin: 0px;
}

#explore-my-work {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#explore-my-work .links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}

#explore-my-work .links a:hover {
  font-weight: bold;
}

.post-card {
  width: 100%;
  background-color: #ededed;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.post-card h4 {
  margin-top: 0px;
}

.post-card .published-at {
  font-style: italic;
  color: gray;
}

.post-card .read-more-btn {
  text-decoration: underline;
}

.post-card .read-more-btn:hover {
  font-weight: bold;
}

/* SWE & Photography */
#project-list {
  display: grid;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ededed;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
}

.project-card img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.project-card h3 {
  margin-top: 10px;
}

.project-card p {
  margin-top: 0px;
  flex-grow: 1;
}

.project-card .read-more-btn {
  text-decoration: underline;
}

.project-card .read-more-btn:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #project-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#project-page #header img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#project-page #tech-stack {
  margin-bottom: 20px;
}

#project-page .tech-stack-img img {
  width: 70px;
  height: 70px;
}

#project-page #content ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#project-page #content ul h3 {
  margin: 0px;
}
#project-page #content ul h3,
#project-page #content ul span {
  display: inline-block;
}

#project-page #content ul span {
  color: rgb(64, 64, 64);
}

#project-page #content ul .in-content-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  #project-page #content ul .in-content-img {
    flex-direction: row;
  }
}

#project-page #content ul .in-content-img img {
  width: 100%;
}

/* Photographt Page */
#photography-category {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  #photography-category {
    flex-direction: row;
  }
}

#photography-category .category-card {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

#photography-category .category-card a {
  position: relative;
  display: block;
}

#photography-category .category-card img {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#photography-category .category-card a:hover img {
  transform: scale(1.02);
}

#photography-category .category-card .category-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: font-size 0.3s ease;
}

#photography-category .category-card a:hover .category-text {
  font-size: 35px;
}
